header {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, sans-serif;
    text-align: center;
    padding: 15px;
}

input {
    margin: 10px;
}

button {
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
    align-items: center;
    align-self: center;
    align-content: center;
}

button:hover {
    background-color: #d6075d;
}
