{% extends "index.html" %}
{% block Upload %}
<header>
    <h1>Upload Your Image</h1>
</header>
<main>
    <!-- Dropzone Form -->
        <form action="{{ url_for('upload_file') }}" class="dropzone" id="myDropzone">
            <div class="dz-message">Drag & drop files here or click to upload</div>
        </form>
        <button id="uploadBtn">Upload</button>
        <button id="submitBtn">Submit</button>

    
</main>

<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.js"></script>
<script src="{{ url_for('static', filename='script.js') }}" ></script>
{% endblock %}